@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');

.nav-bar {
  background-color: rgb(9, 119, 27);
  color: antiquewhite;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:antiquewhite;
}

a {
  text-decoration: none;
  color:antiquewhite;
}

a:hover {
  text-decoration: none;
  color:rgb(176, 253, 161);
}

.recipe-card {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.instructions {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.ingredients {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.home-banner {
  width: 100%;
}

.banner-div {
  position: relative;
  text-align: center;
  color: white;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(134, 250, 134);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  font-family: Lobster;
  font-size: 5vh;
}