.nav-bar {
  background-color: navy;
  color: antiquewhite;
  text-decoration: none;
  height: 30px;
  padding: 8px 0px 0px 0px;
}

a:visited {
  text-decoration: none;
  color:antiquewhite;
}

a {
  text-decoration: none;
  color:antiquewhite;
}

a:hover {
  text-decoration: none;
  color:rgb(119, 119, 119);
}

.recipe-card {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.instructions {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.ingredients {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}