.nav-bar {
  background-color: rgb(9, 119, 27);
  color: antiquewhite;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:antiquewhite;
}

a {
  text-decoration: none;
  color:antiquewhite;
}

a:hover {
  text-decoration: none;
  color:rgb(176, 253, 161);
}

.recipe-card {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.instructions {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.ingredients {
  border: black solid 1px;
  margin: 5px auto;
  width: 400px;
  text-align: center;
}

.recipe-button {
  
}